body {
background-color: #dcdcdc;
font-family: 'Roboto Condensed', 'Helvetica Neue',Helvetiva, Arias, sans-serif;
}

.container {
  background-color: #fff;
  border-radius: 55px;
  width: 500px;
  height: 450px;
  padding: 76px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-style: normal;
  font-weight:bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

h3 {
  background: #D50032;
  border-radius: 13px;
  height: 36px;
  width: 348px;
  color: #fff;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  margin: auto;
}

input {
  margin: 15px;
  padding: 8px;
  text-align: center;
  background: transparent;
  font-family: Helvetica Neue;
  position: absolute;
  top: 55%;
  left: 47.5%;
  transform: translate(-50%, -50%);
}

.btn {
width: 200px;
height: 42px;
background: #696057;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
color: #fff;
font-family: Helvetica Neue;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
text-align: center;
margin: auto;
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
  }

#print {
    margin: auto;
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    height: 36px;
    width: 348px;
    color: #333333;
  }


#screen1 {
  display: show;
}

#screen2 {
  display: none;
}

#screen3 {
  display: none;
}
