body {
background-color: #dcdcdc;
}

/*Intento numero 01 de fondo centrado blanco
#box {
  background-color: #fff;
  border-radius: 55px;
  width: 600px;
  height: 600px;
  padding: 76px;
  margin: 50px;

}*/

.container {
  background-color: #fff;
  border-radius: 55px;
  width: 500px;
  height: 500px;
  padding: 76px;
  margin: 50px;

}
